@page "/"
<AuthorizeView>
    <NotAuthorized>
        <LoginPage/>
    </NotAuthorized>
    <Authorized>
        <div class="d-flex justify-content-center">
            <img src="/Images/cshomepage.png" width="600" height="600"/>
        </div>
    </Authorized>
</AuthorizeView>